body {
  background-color: #FFE6EE;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
}


.custom-navbar {
  background-color: #FEDCE4; 
  border-bottom: 1px solid #000;
}

.nav-link.custom-link {
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 0.9rem;
}

.brand-text {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #2a2a2a;
}


.hero-box {
  background-color: #FEDCE4;
  border-radius: 40% / 15%;
  max-width: 500px;
}

.sub-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #2a2a2a;
}

.main-text {
  font-size: 3rem;
  font-weight: 700;
  color: #2a2a2a;
}
